Practicas/Practica5/WS(Cliente)/Connected Services/WSAmpOp/WSAmpOp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52547/WSAmpOp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSPractica" />
  <xs:element name="Ganancia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="R1" type="xs:double" />
        <xs:element minOccurs="0" name="RF" type="xs:double" />
        <xs:element minOccurs="0" name="Input" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GananciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSPractica" minOccurs="0" name="GananciaResult" nillable="true" type="q1:Amplificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>