Practicas/Practica5/WS(Cliente)/Connected Services/WSAmpOp/WSAmpOp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSPractica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSPractica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Amplificador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Res1" type="xs:double" />
      <xs:element minOccurs="0" name="ResF" type="xs:double" />
      <xs:element minOccurs="0" name="Ve" type="xs:double" />
      <xs:element minOccurs="0" name="Vs" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amplificador" nillable="true" type="tns:Amplificador" />
</xs:schema>